@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Manrope:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background: #fffefd;
  --foreground: #3b3f54;
  --muted: #6e7391;
  --accent: #95367a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14161f;
    --foreground: #f1eee9;
    --muted: #d1d4e0;
    --accent: #e9d1db;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
