.viewport {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.main {
  overflow-y: auto;
}

.footer {
  display: none;
}

@media screen and (max-width: 1080px) {
  .viewport {
    grid-template-rows: 1fr auto;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }
}
