.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatar {
  position: absolute;
  z-index: 0;
  background-image: url("./bwavatar.png");
  background-size: calc(max(50vw, 100vh)) auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

.gradients {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    ellipse farthest-side at 30% 80%,
    transparent 50%,
    var(--background)
  );
}

.copy {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 45%;
  font-size: 4rem;
  font-family: "EB Garamond", serif;
}

.copy strong {
  font-weight: 600;
}

.description {
  color: var(--muted);
}

@media screen and (max-width: 1080px) {
  .avatar {
    inset: 0;
    width: auto;
    height: auto;
    background-size: auto 140%;
    background-position-y: 70%;
  }

  .copy {
    top: auto;
    left: 0;
    right: 0;
    bottom: 2rem;
    text-align: center;
    font-size: 2rem;
  }

  .greetings {
    margin: 0 2rem;
  }

  .description {
    margin: 0 2rem;
  }

  .gradients {
    background-image: linear-gradient(
        to bottom,
        var(--background),
        transparent 30%
      ),
      linear-gradient(to top, var(--background), transparent 50%);
  }
}
